/* form setting */

//remove input background color for chrome autocomplete
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
  box-shadow: 0 0 0 30px white inset;
}
.task-edit {
  padding: 2rem;
  background-color: $color-tertiary-light;
  margin: auto;
  line-height: 3rem;
}
.task-edit span {
  padding: 0.5rem;
  padding-left: 4rem;
  padding-right: 2rem;
  display: inline-block;
  vertical-align: top;
  width: 32.5rem;
  text-align: right;
  margin-bottom: 0.5rem;
  @include respond(tab-port) {
    padding: 0;
    width: 100%;
    text-align: center;
  }
}

.task-edit input {
  padding: 0.5rem;
  min-height: 2.5rem;
  display: inline-block;
  width: 32.5rem;
  outline: none;
  // &:required + span:after {
  //   color: red;
  //   content: "*";
  //   padding-left: 5px;
  // }
  @include respond(tab-port) {
    display: block;
    margin: 0 auto;
  }
}
.select-custom {
  display: inline-block;
  background: $color-white;
  height: 3.5rem;
  overflow: hidden;
  width: 33.5rem;
  select {
    background: transparent;
    font-size: 1.2rem;
    height: 3rem;
    padding: 0.5rem;
    width: 33.5rem;
  }
  @include respond(tab-port) {
    display: block;
    margin: 0 auto;
  }
}
