:root {
  --yellow: #ffc600;
  --blue: #33b5e5;
  --darkBlue: #227796;
  --gray: #e9e9e9;
  --dGray: #666666;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  /* text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07); */
  background: var(--gray);
}

h2 {
  color: var(--blue);
}

body {
  min-height: calc(100vh - 20px);
}
.main-wrapper {
  width: 860px;
  margin: auto;
  padding-bottom: 30px;
}
li {
  height: 34px;
}

.wrapper {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "App-title App-title App-title App-title"
    "guide guide guide guide"
    /* "taskSelector taskSelector taskSelector taskSelector" */
    "form form form form "
    "summary summary summary summary";
}
.App-title {
  grid-area: App-title;
  padding: 30px;
  text-align: center;
  font-size: 48px;
  font-weight: 300;
  color: var(--dGray);
}

.form-list {
  grid-area: form;
  border-radius: 3px;
  border-top: 5px solid var(--blue);
  background: white;
  box-shadow: 0 0 10px #888888;
  margin: 10px;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}
.summary {
  grid-area: summary;
  border-radius: 3px;
  border-top: 5px solid skyblue;
  background: white;
  box-shadow: 0 0 10px #888888;
  text-align: center;
  padding: 10px;
  margin: 10px;
  -webkit-animation: fadein 1.2s;
  animation: fadein 1.2s;
}

.guide {
  grid-area: guide;
  padding: 0 10px 10px;
  justify-self: right;
}

/* summary */
.tasks-list {
  text-align: left;
  list-style-position: inside;
  padding-bottom: 42px;
}

/* button setting */
button,
input[type="submit"] {
  margin-left: 10px;
  background: none;
  border-radius: 3px;
  font-size: 1.1rem;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  position: relative;
  z-index: 2;
}
button:after,
input[type="submit"]:after {
  content: "";
  z-index: -1;
  display: block;
  background: var(--darkBlue);
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  top: 0;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
button:hover,
input[type="submit"]:hover,
button:focus,
input[type="submit"]:focus {
  color: #fff;
  outline: 0;
}
button:hover:after,
input[type="submit"]:hover:after,
button:focus:after,
input[type="submit"]:focus:after {
  height: 100%;
}

.summary button {
  background: var(--blue);
  color: white;
}
.summary button:after {
  background: var(--darkBlue);
}
.form-list button {
  background: var(--blue);
  color: white;
}
.taskSelector button {
  display: inline-block;
  border-radius: 0;
  width: 50%;
  margin: 0;
  padding: 6px;
}

/* button setting end */

/* form setting */
.task-edit {
  padding: 20px;
  background-color: white;
  margin: auto;
  margin-top: 20px;
  line-height: 30px;
}
.task-edit span {
  padding: 5px;
  padding-left: 40px;
  padding-right: 20px;
  display: inline-block;
  vertical-align: top;
  width: 35%;
  text-align: right;
}
.task-edit input {
  padding: 5px;
  min-height: 25px;
  display: inline-block;
  width: 35%;
}
.task-edit select {
  padding: 5px;
  min-height: 25px;
  display: inline-block;
  width: 35%;
}
.center {
  text-align: center;
}
/* form setting end*/

/* input box */
input[type="text"],
select {
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input:required {
  border: 1px solid #ffa5a5;
  border-radius: 4px;
}

/* animation */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.summary-appear {
  opacity: 0.01;
  transform: scaleX(1) translateX(30px);
}

.summary-appear.summary-appear-active {
  opacity: 1;
  transition: all 200ms ease-in;
  transform: scaleX(1) translateX(0);
}
.summary-leave {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.summary-leave.summary-leave-active {
  opacity: 0.01;
  transform: scaleX(1) translateX(-30px);
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/* autosuggestion  */
.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;

  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

/* autosuggestion end  */
