.btn {
  font-size: 1.4rem;
  font-weight: 500;
  &__report,
  &__summary,
  &__taskSelector,
  &__remove,
  &__search,
  &__notFound,
  &__guide {
    position: relative;
    outline: 0;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border: 0.1rem solid $color-primary;
    border-radius: 1.2rem;
    transition: all 0.2s;
    background-color: $color-primary;
    color: $color-text;
    &:hover {
      border: 0.1rem solid $color-secondary;
    }
  }
  &__summary,
  &__notFound {
    &::after {
      content: "";
      background-color: $color-primary;
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 1.2rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s;
    }
  }

  &__search {
    margin-left: auto;
    @include respond(tab-port) {
      display: block;
    }
  }
  &__guide {
    @include respond(phone) {
      padding: 1.6rem;
    }
    &--inPopup {
      display: block;
      margin: 0 auto;
      padding: 1rem 2rem;
      width: 20%;
    }
  }
  &__summary {
    padding: 1rem 2rem;
    margin: 0.4rem;
    margin-top: 2.4rem;
  }

  &__remove {
    padding: 0.3rem 0.8rem;
    margin: 0.4rem;
    font-weight: 100;
  }

  &:hover {
    background-color: $color-secondary;
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
  &__taskSelector {
    width: 50%;
    margin: 0 auto;
    padding: 1.2rem;
    border-radius: 0;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;

    &:not(:last-child) {
      border-right: 0.1rem solid $color-tertiary-dark;
    }

    &:hover {
      border: 0.1rem solid $color-secondary;
      &:not(:last-child) {
        border-right: 0.1rem solid $color-tertiary-dark;
      }
      background-color: $color-secondary;
      transform: scaleY(1.1);

      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }
  }

}
.popupbtn--container{
  display: flex;
  justify-content: center;
}