.btn {
  font-size: 1.4rem;
  font-weight: 500;

  &__report,
  &__summary,
  &__taskSelector,
  &__remove,
  &__search,
  &__notFound {
    position: relative;
    outline: 0;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border: 0.1rem solid $color-primary;
    border-radius: 1.2rem;
    transition: all 0.2s;
    background-color: $color-primary;
    color: $color-text;

    &:hover {
      border: 0.1rem solid $color-secondary;
    }
  }
  &__guide {
    padding: 0.4rem;
    margin: 0 auto;
  }
  &__search {
    @include respond(tab-port) {
      display: block;
    }
  }
  &__summary {
    padding: 1rem 2rem;
    margin: 0.4rem;
    margin-top: 2.4rem;
  }

  &__taskSelector {
    width: 50%;
    margin: 0 auto;
    padding: 1.2rem;
    border-radius: 0;
    &:not(:last-child) {
      border-right: 0.1rem solid $color-tertiary-dark;
    }

    &:hover {
      border: 0.1rem solid $color-secondary;
      &:not(:last-child) {
        border-right: 0.1rem solid $color-tertiary-dark;
      }
    }
  }
  &__remove {
    padding: 0.3rem 0.8rem;
    margin: 0.4rem;
    font-weight: 100;
  }

  &:hover {
    background-color: $color-secondary;
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
}
