* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 0.625rem;
  background: $color-gray;
}

body {
  min-height: calc(100vh - 1rem);
}

.main-wrapper {
  width: 90rem;
  margin: auto;
  padding-bottom: 3rem;
}
