body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
}
.App-title {
  padding: 3rem;
  text-align: center;
  font-size: 5.2rem;
  font-weight: 300;
  color: $color-gray-dark;
}

.heading-primary {
  margin-top: 1.6rem;
  color: $color-blue;
  font-size: 2.2rem;
  font-weight: 700;
}

li {
  padding-top: 0.8rem;
}

/* input box */
input[type="text"],
select {
  margin: 0.4rem 0;
  display: inline-block;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
}
input:required {
  border: 0.1rem solid #ffa5a5;
  border-radius: 0.4rem;
}

/* summary */
.tasks-list {
  padding-left: 3rem;
  text-align: left;
  list-style-position: inside;
  padding-bottom: 4.2rem;
}

.summary-info {
  line-height: 2.4rem;
  margin-bottom: 1.2rem;
}
